.cities {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;
}

.cities li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #ada3d0;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  text-align: center;
}

.cities li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.city {
  display: inline-block;
}
